{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Consulta_Materia</title>
</head>
<body>
<h1 align="center" class="text-white-50">LISTADO MATERIA</h1>
<div class="container">
<table class="table table-striped" >
    <thead style="font-family: 'Century Gothic' ">
    <tr>
       <th >NOMBRE</th>
       <th>Opcion</th>
    </tr>
    </thead>
    <tbody>
        {% for materia in object_list %}
            <tr>
            <td>{{ materia.nombre }}</td>
            <td><a href="{% url 'editar_materia' materia.id%}">EDITAR</a>            <a href="{% url 'eliminar_materia' materia.id%}">ELIMINAR</a></td>
            </tr>

        {%endfor%}
    </tbody>

</table>
</div>
<section class="text-center">
        <div>
         <p>
            <a href="{% url 'home' %}"  class="btn btn-primary my-2">Inicio</a>
            <a href="{% url 'formulario_materia' %}" class="btn btn-primary my-2">Agregar Materia</a>
         </p>
        </div>
    </section>

</body>
</html>