{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lista de Usuarios{% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
{% block background %}{% load static %}{% static 'img/profesores.png' %}{% endblock %}
{% block content %}
    <div class="container">
        <form  method="GET" >
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="input-group">
                        <input class="input-group-field" type="text" name="buscar" placeholder="Buscar" value="{{ request.GET.buscar}}">
                        <div class="input-group-button">
                            <input type="submit" class="button" value="Buscar">

                        </div>
                    </div>

                </div>

            </div>
        </form>
    </div>
<body>
    <h2 align="center"> Usuarios </h2>
<table class="table table-striped" >
    <thead>
        <tr>
            <th>ID Usuario</th>
            <th>User_Name</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Grupo</th>
            <th>Opcion</th>
        </tr>
    </thead>
    <tbody>
        {% for User in user_list %}
            <tr>
                <td>{{ User.id }}</td>
                <td>{{ User.username}}</td>
                <td>{{ User.first_name }}</td>
                <td>{{ User.last_name }}</td>
                <td>{{ User.email }}</td>
                <td>
                    {% if User.groups %}
                        {% for grupo in User.groups.all %}
                            {{ grupo }}
                        {% endfor %}
                    {% endif %}

                </td>
                <td>
                    <a href="{% url 'editar_usuario' User.id  %}"><span class="glyphicon glyphicon-pencil" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>Editar</span></a>
                                      <a style="background: #bf2718" href="{% url 'eliminar_usuario' User.id %}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <section class="text-center">
    <div class="row">
        <div class="col-md-4 offset-1">
        <a href="/usuario/Registra" class="btn btn-primary"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
</svg> Agregar</a>
        </div>

    </div>
    </section>



</body>
    <div class="container" align="right">

            <a class="nav-link"  href="{%  url 'exportaruser' %}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="f" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path fill-rule="evenodd" d="M5.172 5.172a.5.5 0 0 1 .707 0l4.096 4.096V6.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H6.5a.5.5 0 0 1 0-1h2.768L5.172 5.879a.5.5 0 0 1 0-.707z"/>
                    </svg>Exportar PDF</a>
        </div>

{% endblock %}
</html>