{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Consulta_Curso-Docente</title>
</head>
<body>
<h1 align="center" class="text-white-50">LISTADO DOCENTES - CURSOS</h1>
<table border="2" class="table table-hover" align="center">
    <thead style="font-family: 'Century Gothic' ">
    <tr>
       <th >CURSO</th>
        <th >DOCENTE</th>
       <th>Opcion</th>
    </tr>
    </thead>
    <tbody>
        {% for reporte in object_list %}
            <tr>
            <td>{{ reporte.curso.nivel}} {{ reporte.curso.paralelo }}</td>
            <td>{{ reporte.Docente.nombre}} {{ reporte.Docente.apellido }}</td>
            <td><a href="{% url 'editar_docentecurso' reporte.id%}">EDITAR</a>            <a href="{% url 'eliminar_docentecurso' reporte.id%}">ELIMINAR</a></td>
            </tr>

        {%endfor%}
    </tbody>

</table>
<a class="nav-link" href="{% url 'home' %}">REGRESAR</a>
</body>
</html>