{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Consulta_Estudiantes</title>
</head>
<body>
<h1 align="center" class="text-white-50">LISTADO ESTUDIANTE-DOCENTE-MATERIA</h1>
<div class="container">
<table class="table table-striped">
    <thead style="font-family: 'Century Gothic' ">
    <tr>
       <th >ESTUDIANTE</th>
       <th >MATERIA</th>
       <th >CURSO</th>
       <th>Opcion</th>
    </tr>
    </thead>
    <tbody>
        {% for reporte in object_list %}
            <tr>
            <td>{{ reporte.estudiante.nombre }} {{ reporte.estudiante.apellido }}</td>
            <td>{{ reporte.materia.nombre }}</td>
            <td>{{ reporte.curso.nivel}} {{ reporte.curso.paralelo }}</td>
            <td><a href="{% url 'editar_estudiante_mat_curso' reporte.id%}">EDITAR</a>            <a href="{% url 'eliminar_estudiante_mat_curso' reporte.id%}">ELIMINAR</a></td>
            </tr>

        {%endfor%}
    </tbody>

</table>
</div>
<section class="text-center">
        <div>
         <p>
            <a href="{% url 'home' %}"  class="btn btn-primary my-2">Inicio</a>
            <a href="{% url 'formulario_estudiante_mat_curso' %}" class="btn btn-primary my-2">Agregar </a>
         </p>
        </div>
    </section>

</body>
</html>