{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Consulta_Estudiantes</title>
</head>
<body>
<h1 align="center" class="text-white-50">LISTADO ESTUDIANTES</h1>
<div class="container">
<table class="table table-striped">
    <thead style="font-family: 'Century Gothic' ">
    <tr>
       <th >Nombre</th>
       <th >Apellido</th>
       <th >Edad</th>
       <th >Email</th>
       <th>Sexo</th>
       <th>Cedula</th>
       <th>Curso_Asignado</th>
       <th>Opcion</th>
    </tr>
    </thead>
    <tbody>
        {% for reporte in object_list %}
            <tr>
            <td>{{ reporte.nombre }}</td>
            <td>{{ reporte.apellido }}</td>
            <td>{{ reporte.edad }}</td>
            <td>{{ reporte.email }}</td>
            <td>{{ reporte.sexo }}</td>
            <td>{{ reporte.cedula }}</td>
            <td>{{ reporte.curso.nivel }} {{ reporte.curso.paralelo }}</td>
            <td><a href="{% url 'editar_estudiante' reporte.id%}">EDITAR</a>            <a href="{% url 'eliminar_estudiante' reporte.id%}">ELIMINAR</a></td>
            </tr>

        {%endfor%}
    </tbody>

</table>
</div>
<section class="text-center">
        <div>
         <p>
            <a href="{% url 'home' %}"  class="btn btn-primary my-2">Inicio</a>
            <a href="{% url 'formulario_estudiante' %}" class="btn btn-primary my-2">Agregar Estudiante</a>
         </p>
        </div>
    </section>


</body>
</html>